<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="preconnect" href="link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href=" 	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
  <!----tool bar-->
    <section class="header">
       <nav>
        <h1 style="font-family:Cinzel Decorative">Arts</h1>
           <div class="nav-links" id="navLinks">
            
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">View</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Contact</a></li>
              <li><a class="fa fa-bell"></a></li>
              <li><a class="fa fa-user"></a></li>
            </ul>
           </div>
       </nav>
    
    </section>

    <!----body-->
   <section>
     <!---space-->
     <div class="empty">
        <div class="about">
            <div>
            <h2> Whether users are a professional artist or a creative soul who likes design or paint, 
                there's a lot to be said about the numerous benefits that come along with joining an online art community.
                WorkArt Sharing website is a website art community dedicated to sharing or selling art forms such as painting,
                protography, images and so on. Moreover, workArt sharing can be an excellent source of inspiration and motivation for any artist,
                affording you the opportunity to upload their art, receive feedback, 
                learn new techniques and get money from selling art on websites as well.</h2>
            <div id="about1">
                <img src="./assets/about1.jpg">
            </div>
            </div>
            <div>
                <img src="./assets/about3.jpg">
                <div class="about2">
                    <h2>
                        "IT ALL BEGINS WITH AN IDEA"
                    </h2>
                </div>
            </div> 
        </div>
     </div>
   </section>

  <!---footer-->




  <section>
    <!--- <div class="footer">
         <h4>Contact</h4>
         <ul>
             <li><a class="fa-solid fa-phone"></a>&nbsp;&nbsp;0123456789</li>
             <li><a class="fa-solid fa-envelope"></a>&nbsp;&nbsp;arts@gmail.com</li>
         </ul>
     </div>-->
     <div class="footer">
         <div class="display">
             <div>
                 <div>Contact</div>
                 <i class="fa fa-phone" style="padding-top:20px;"> &nbsp;&nbsp; &nbsp;&nbsp;0974774584</i>
                 <div style="padding-top:20px;">
                  <i class="fa fa-envelope"> &nbsp;&nbsp; &nbsp;&nbsp;arts@gmail.com</i>
                 </div>
             </div>
             <div>
                 <div>Social media</div>
                 <div class="icon" >
                     <a href="###"><ion-icon name="logo-twitter" class="iconic"></ion-icon></a>
                     <a href="###"><ion-icon name="logo-instagram" class="iconic"></ion-icon></a>
                     <a href="###"><ion-icon name="logo-facebook" class="iconic"></ion-icon></a>
                    </div>
             </div>
            <div>
             <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stay in touch!</div>
                 <div class="display1">
                     <div id="box1">
                         <input type="text" value="" placeholder="Email">
                         
                     </div>
                     <div id="box2">
                         <input type="button"value="send">
                     </div>
                 </div>
            </div>
             
         </div>
     </div>
 </section>

 
 <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
