*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
.header{
    width: 100%;
    height: 320px;
    background-image: linear-gradient(rgba(80, 95, 153, 0.2),rgba(4,9,30,0.2)),url(assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
   
   

}
.header h1{
    color: #fff;
    font-size: 40px;
  
   
    
   
}
nav{
   display: flex; 
   padding:0px 6%;
   border-bottom: 2px solid #fff;
 
   justify-content: space-between;
   align-items:center;
}

.nav-links{
    flex: 1;
    text-align: right;
 
    
}
li{
    list-style: none;
    display: inline-block;
    padding:5px 12px;
    position: relative;
}
li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-top: 24px;

}
li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
li:hover::after{
    width: 100%;

}




/*space for write code*/
.empty{
    width:100%;
    height:100%;
    
}



/*----footer----*/

.footer{
            
    width: 100%;
    height: 200px;
    
    background-color: rgb(66, 63, 63);
    color:aliceblue   
}
.display{
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
}
.display .fa{
    display:block;
    color: #fff;
    margin: 10px ;
    font-size:22px ;
    cursor: pointer;
    transition:0.5s;

}
.fa:hover{
    color:blue;
   
}

.icon a{
   color: aliceblue;
   text-decoration: none;
    font-size: 40px;
}

.icon{
   padding-top: 50px;
}
.icon .iconic{
    transition:0.5s;
}
.iconic:hover{
    color:blue;
    font-size: 45px;
}
#box1 input{
    background-color: black;
    color: aliceblue;
    border: 0px;
    height: 40px;
}
#box2 input {
   height: 42px;
   width: 60px;
   transition: 0.5s;
   
}
#box2 input:hover{
    background-color:blue;
}
.display1{
   display: flex;
  
   padding-top: 60px;
   flex-direction: row;
}
h1{
    font-family: 'Cinzel Decorative';
    font-style: normal;

    font-size: 50px;

color: #000000;
}
h2{
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 49px;
    color: #000000;
}
img{
    width: 500px;
    height: 445px;
    padding-left:60px;
    margin-top: 20px;  
}
.about{
    display: flex;
    margin-left: 40px;
    margin-right: 30px;
    

}
.about2 >h2{
    font-family: 'Iowan Old Style';
    text-align: center;
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    width: 360px;
    height: 162px;
    background: rgba(196, 196, 196, 0.56);
    
}
