<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Detail View</title>
    <link rel="stylesheet" href="detail.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href=" 	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="preconnect" href="link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body>
    <section class="detail-image">
        <div class="img-detail">
            <div class="user-info">
                <div class="item">   
                        <img src="image/Project/tree.jpg"  > 
                        <div>
                            <h1>Work Art Sharing Website Design</h1>
                            <p>Lunaa</p>

                        </div>
                </div>
                <div>
                    <i class="ri-close-circle-line" onclick="window.location.href = './main_page.html';"></i>
                    
                </div>
               
              
              

            </div>

            <!--body-->
            <div class="middle-content">
                <div class="images">
                    <img src="image/Project/pixel4.jpg">
                </div>

                <div class="user-info2">
                    <div class="follower">
                        <div class="user-img">
                            <img src="image/Project/tree.jpg"  > 
                           <div class="follower-icon">
                                <i class="ri-add-circle-fill"></i>
                            </div>
                            
                        </div>
                        <h5>follower</h5>

                        <div class="user-save">
                            <input type="file" id="file" accept="image/*">
                            <label for="file"> <i class="ri-folder-open-fill"> </i></label>
                           
                            <h5>save</h5>
                            
                        </div>
                        
                        <div class="user-like">
                            <i class="ri-thumb-up-fill"></i> 
                            <h5>like</h5>
                        </div>
                        
                        
                        


                    </div>
                   
                </div>
                

            </div>
           
           

        </div>
        

    </section>

    <section class="description">
        <div class="description">
            <h2>Description</h2>
            <div class="paragraph">
                <p>Here is my work dhfkadh dfvblkds dfklhvd dflkhvold dflvgld dflvgd; fdvdfhv;
                    <br />dvbaldk df;vn;ald da dkfnvla;d a;dn;dl dfn;va fnd;a fdl;sgn dfbv;ald dfl;an dfb;
                    ds,fvslf.dfv;   fdgnmdf dfl;ngl; fdn;a  fgna;dn a;drgn;g a.
                </p>
            </div>
        </div>

    </section>
    <section class="footer">

        <div class="footer">
            <div class="display">
                <div>
                    <div>Contact</div>
                    <i class="fa fa-phone" style="padding-top:20px;"> &nbsp;&nbsp; &nbsp;&nbsp;0974774584</i>
                    <div style="padding-top:20px;">
                     <i class="fa fa-envelope"> &nbsp;&nbsp; &nbsp;&nbsp;arts@gmail.com</i>
                    </div>
                </div>
                <div>
                    <div>Social media</div>
                    <div class="icon" >
                        <a href="###"><ion-icon name="logo-twitter" class="iconic"></ion-icon></a>
                        <a href="###"><ion-icon name="logo-instagram" class="iconic"></ion-icon></a>
                        <a href="###"><ion-icon name="logo-facebook" class="iconic"></ion-icon></a>
                       </div>
                </div>
               <div>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stay in touch!</div>
                    <div class="display1">
                        <div id="box1">
                           <input type="text" value="" placeholder="Email">
                            
                        </div>
                        <div id="box2">
                            <input type="button"value="send">
                        </div>
                    </div>
               </div>
                
            </div>
        </div>

    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    
</body>
</html>