body{
    margin:0px;
    padding: 0;
    background-color:#000;
    width: 100%;
    height: 100%;
}
/*header*/
.detail-image{
    margin-bottom: -100px;
}
.img-detail{
    width:100%;
    height:1024px;
   
   

}
.user-info{
    width: 100%;
    height: 180px;
    position: relative;
    display:flex;
    justify-content: space-between;
    margin-top:50px;

    
}
.user-info .item{
    display: flex;
    margin-left: 150px;
}
.user-info img{
    width:120px;
    height: 120px;
    border-radius: 100%;
    transition: 0.5s;
}

.user-info h1{
    color: #fff;
    font-size:22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    margin-top: 0;
}
.user-info p{
    color:grey;
    font-size:14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
    
}

/*middle*/
.middle-content{
    width: 100%;
    height:772px;
    display:flex;
   
    justify-content:space-between;
}
.middle-content .images{
    width: 1063px;
    height:658px;
    margin-top: 0;
    margin-left: 70px;
}
.user-info2{
    width:289px;
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-left: 120px;
    
}

.follower img{
    width: 120px;
    height: 120px;
    border-radius:100%;
    display: flex;
   
   

}
.follower h5{
    font-size:16px;
    color:#fff;
    position:relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    

}
.user-img{
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.ri-close-circle-line{
    color: #fff;
    font-size:24px;
    margin-right: 220px;
}
.ri-close-circle-line:hover{
    color:blue;
   
}
.follower-icon{
    margin-top: 50px;
    margin-left: -17px;
}
.ri-add-circle-fill{
    color: blue;
    font-size:30px;
    
    position: relative;

}
input[type="file"]{
    display:none;
  }
.user-save{
    margin-top: 70px;
}
.ri-folder-open-fill{
    color:#fff;
    font-size:40px;
    
}
.ri-folder-open-fill:hover{
   color:blue;
    
}
.user-like{
    margin-top: 70px;
}
.ri-thumb-up-fill{
    color:white;
    font-size:40px;
    

}
.ri-thumb-up-fill:hover{
    color:blue;
    

}
/*---description---*/

.description{
    width: 100%;
    height:200px;
    position: relative;
}
.description h2{
    color:gray;
    font-size:30px;
    margin-left: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description .paragraph{
    color:gray;
    font-size:16px;
    margin-left: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*---footer---*/
.footer{
            
    width: 100%;
    height: 200px;
    
    background-color: rgb(66, 63, 63);
    color:aliceblue   
}
.display{
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
}
.display .fa{
    display:block;
    color: #fff;
    margin: 10px ;
    font-size:22px ;
    cursor: pointer;
    transition:0.5s;

}
.fa:hover{
    color:blue;
   
}

.icon a{
   color: aliceblue;
   text-decoration: none;
    font-size: 40px;
}

.icon{
   padding-top: 50px;
}
.icon .iconic{
    transition:0.5s;
}
.iconic:hover{
    color:blue;
    
}
#box1 input{
    background-color: black;
    color: aliceblue;
    border: 0px;
    height: 40px;
}
#box2 input {
   height: 42px;
   width: 60px;
   transition: 0.5s;
   
}
#box2 input:hover{
    background-color:blue;
}
.display1{
   display: flex;
  
   padding-top: 60px;
   flex-direction: row;
}

