*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
.header{
    width: 100%;
    height: 320px;
    background-image: linear-gradient(rgba(80, 95, 153, 0.2),rgba(4,9,30,0.2)),url(image/Project/R4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
   
  
   
   

}

.header h1{
    color: #fff;
    font-size: 40px;
  
   
    
   
}
nav{
   display: flex; 
   padding:0px 6%;
   border-bottom: 2px solid #fff;
 
   justify-content: space-between;
   align-items:center;
}

.nav-links{
    flex: 1;
    text-align: right;
 
    
}
li{
    list-style: none;
    display: inline-block;
    padding:5px 12px;
    position: relative;
}
li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-top: 24px;

}
.nav-links li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;

}
.nav-links li a:hover{
    color:blue;
}

.fa{
    
    display:block;
    color:#fff; 
    font-size:40px ;  
    justify-content:flex-end; 
}




.profile{
   
    background:#f4f5f0;
    margin-top:200px;
    margin-bottom:5%;
    padding: 20px 20px;
    box-sizing: border-box;
    height:443px;
    width: 389px;
    margin-left: 40px;
    align-items: center;
   
    transition: 0.5s;
     
}
/*----button edit profile---*/
.ri-edit-box-line{
    color:#000;
    font-size:30px;
    position: relative;
    margin-left:310px;
   
 
}
.ri-edit-box-line:hover{
    color:blue;
    font-size:30px;
    position: relative;
    margin-left:310px;
   
 
}

 .profile img{
   
    margin-left:120px;
    margin-top:10px;
    width:110px;
    height:110px;
    border: 0px;
    justify-content:center;
}
.profile .name{
    
    display:block;
   
    margin-left:135px;
    margin-top:10px;
   
    font-size:16px ;   
}
.profile .des-profile{
    
    display:block;
    color:blue;
    margin-left:115px;
    margin-top:10px;
   
    font-size:24px ;   
}
.profile .follow{
    margin-top:120px;
    margin-left:125px;
    font-size: 14px;
}
.project {
    height:720px;
}
/*-------body-----*/



.row{
   
    justify-content:flex-start;
     margin-left: 40px;
     margin-right:40px;
     height:100%;


}
.bar-project{
    width: 100%;
    height: 80px;
    margin-left:390px;
    justify-content: space-between;
    align-items:center;
    flex: 1;
    text-align: left;
 
   
}
 .bar-project li{
    list-style: none;
    display: inline-block;
    margin: 20px 25px;
    position: relative;
    padding: 10px 30px;
   
}
 .bar-project li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.bar-project li:hover{
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
}


.bar-project li a:hover{
   
    color: #fff;
   
  
}
.bar-project .fa{
    color: #000;
}

/*---item feature---*/
.items{
    width: 100%;
    height: 100%;
}
.row .items .rows{
    margin-left: 390px;
    height: 640px;
    justify-content: space-between;
    align-items:center;
   
}
.rows .cols1{
  
    width: 1100px;
    height:231px;
    background-color:#fff;
    justify-content: space-between;
    align-items:flex-start;
    display:flex;
}
/*----image---*/
 .pic1{
    margin-left:40px;
    width: 249px;
    height:231px;
    background-color:#f4f5f0;
    align-items:center;
    text-align:center;
   
    
}
.pic1:hover{
    box-shadow:0 0 20px 0px rgba(17, 15, 15, 0.2);
    margin-left:40px;
    width: 250px;
    height:235px;
   
    
}
.pic1 .center{
    width: 60px;
    height: 60px;
    background-color: rgb(155, 152, 152);
    border-radius:100%;
    margin-left: 95px;
    margin-top:80px;
    align-items: center;
    display:flex; 
    justify-content: center;
}
.pic1 .center:hover{
    box-shadow:0 0 20px 0px rgba(10, 8, 8, 0.4);
}
.pic1 .word-center{
    margin-top:20px;
    color:#000;
    padding:5px;
    background-color:#fff;
    width:130px;
    margin-left: 55px;
    border-radius:30px;
}


.ri-add-circle-fill{
    color:blue;
    font-size:24px;
}
.ri-add-circle-fill:hover{
    color:grey;
    font-size:30px;
}


 .pic{
   width: 249px;
   height:231px;
   background-color:#f4f5f0;
  

}
.pic:hover{
    box-shadow:0 0 20px 0px rgba(17, 15, 15, 0.2);
    
    width: 250px;
    height:235px;
   
    
}
 
img{
    width: 249px;
    height:231px;
    position: relative;
   
}

 

 .position{
    color:#000;
    font-size:14px;
    width:249px;
    height:25px;
    text-align:center;
}

.position .names{
    font-size:14px;
  
}







/*----footer----*/

.footer{
            
    width: 100%;
    height: 200px;
    
    background-color: rgb(66, 63, 63);
    color:aliceblue   
}
.display{
display: flex;
justify-content: space-between;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
}
.display .fa{
    display:block;
    color: #fff;
    margin: 10px ;
    font-size:22px ;
    cursor: pointer;
    transition:0.5s;

}
.fa:hover{
    color:blue;
   
}

.icon a{
   color: aliceblue;
   text-decoration: none;
    font-size: 40px;
}

.icon{
   padding-top: 50px;
}
.icon .iconic{
    transition:0.5s;
}
.iconic:hover{
    color:blue;
    font-size: 45px;
}
#box1 input{
    background-color: black;
    color: aliceblue;
    border: 0px;
    height: 40px;
}
#box2 input {
   height: 42px;
   width: 60px;
   transition: 0.5s;
   
}
#box2 input:hover{
    background-color:blue;
}
.display1{
   display: flex;
  
   padding-top: 60px;
   flex-direction: row;
}
