<!DOCTYPE html>
       </nav>
       <div class="profile">
           <div class="edit">
            <i class="ri-edit-box-line" ></i>

           </div>
         
        <img src="image/Project/people1.png">
         
       
        <div class="name">
            JACK SON
        </div>
        <div class="des-profile"> 
         Description
        </div>
        <div class="follow">
          <p>Follower&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</p>
          <p>Following&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</p>
        </div>
         
          
      </div> 
      
      
    </section>
    <!----body-->
    <section class="project">
     
      <div class="row">
          <div class="bar-project">
             <ul>
                 <li><a href="">Liked</a></li>
                 <li><a href="">Work</a></li>
                 <li> <i class="fa fa-upload"> <a href="" >Upload</a></i></li>
                 <li><a href="">Draft</a></li>
             </ul>

            </div>

            <div class="items">
                <div class="rows">
                    <div class="cols1">
                        <div class="pic1">
                            <div class="center"><i class="ri-add-circle-fill"></i> </div>
                            <div class="word-center">Create Project</div>
                           
                           

                        </div>
                       
                        <div class="pic">
                            <img src="image/project/olivier-miche-OZACaaUskhg-unsplash.jpg">
                            <div class="position">
                                <div class="names">Viewers</div>
                               
                            </div>
                            
                        </div>
                        <div class="pic">
                            <img src="image/project/pexels-photo-164523.jpg">
                            <div class="position">
                                <div class="names">Arts Photo</div>
                               
                            </div>
                        </div>
                        <div class="pic">
                            <img src="image/project/pixel6.jpg">
                            <div class="position">
                                <div class="names">Painting Art</div>
                               
                            </div>
                            
                        </div>
                        
                    </div>
                    <!---column2-->

                   

                </div>
            </div>
               
      </div>
      
  </section>


  </body>
