<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Create Project</title>
    <link rel="stylesheet" href="projectCreate.css">
    <link rel="preconnect" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
   
    <link rel="stylesheet" href=" 	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
  <!----tool bar-->
    <section class="header">
       <nav>
        <h1 style="font-family:Cinzel Decorative">Arts</h1>
           <div class="nav-links" id="navLinks">
            
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">View</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Contact</a></li>
              <li><a class="fa fa-bell"></a></li>
              <li><a class="fa fa-user"></a></li>
            </ul>
           
           
           
           </div>
         
          
       </nav>
       <div class="profile">
           <div class="edit">
            <i class="ri-edit-box-line" ></i>

           </div>
         
        <img src="image/Project/people1.png">
         
       
        <div class="name">
            JACK SON
        </div>
        <div class="des-profile"> 
         Description
        </div>
        <div class="follow">
          <p>Follower&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</p>
          <p>Following&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</p>
        </div>
         
          
      </div> 
      
      
    </section>
    <!----body-->
    <section class="project">
     
      <div class="row">
          <div class="bar-project">
             <ul>
                 <li><a href="">Liked</a></li>
                 <li><a href="">Work</a></li>
                 <li> <i class="fa fa-upload"> <a href="" >Upload</a></i></li>
                 <li><a href="">Draft</a></li>
             </ul>

            </div>

            <div class="items">
                <div class="rows">
                    <div class="cols1">
                        <div class="pic1">
                            <div class="center"><i class="ri-add-circle-fill"></i> </div>
                            <div class="word-center">Create Project</div>
                           
                           

                        </div>
                       
                        <div class="pic">
                            <img src="image/project/olivier-miche-OZACaaUskhg-unsplash.jpg">
                            <div class="position">
                                <div class="names">Viewers</div>
                               
                            </div>
                            
                        </div>
                        <div class="pic">
                            <img src="image/project/pexels-photo-164523.jpg">
                            <div class="position">
                                <div class="names">Arts Photo</div>
                               
                            </div>
                        </div>
                        <div class="pic">
                            <img src="image/project/pixel6.jpg">
                            <div class="position">
                                <div class="names">Painting Art</div>
                               
                            </div>
                            
                        </div>
                        
                    </div>
                    <!---column2-->

                   

                </div>
            </div>
               
      </div>
      
  </section>

  <!---footer-->

  <section>
    <!--- <div class="footer">
         <h4>Contact</h4>
         <ul>
             <li><a class="fa-solid fa-phone"></a>&nbsp;&nbsp;0123456789</li>
             <li><a class="fa-solid fa-envelope"></a>&nbsp;&nbsp;arts@gmail.com</li>
         </ul>
     </div>-->
     <div class="footer">
         <div class="display">
             <div>
                 <div>Contact</div>
                 <i class="fa fa-phone" style="padding-top:20px;"> &nbsp;&nbsp; &nbsp;&nbsp;0974774584</i>
                 <div style="padding-top:20px;">
                  <i class="fa fa-envelope"> &nbsp;&nbsp; &nbsp;&nbsp;arts@gmail.com</i>
                 </div>
             </div>
             <div>
                 <div>Social media</div>
                 <div class="icon" >
                     <a href="###"><ion-icon name="logo-twitter" class="iconic"></ion-icon></a>
                     <a href="###"><ion-icon name="logo-instagram" class="iconic"></ion-icon></a>
                     <a href="###"><ion-icon name="logo-facebook" class="iconic"></ion-icon></a>
                    </div>
             </div>
            <div>
             <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stay in touch!</div>
                 <div class="display1">
                     <div id="box1">
                        <input type="text" value="" placeholder="Email">
                         
                     </div>
                     <div id="box2">
                         <input type="button"value="send">
                     </div>
                 </div>
            </div>
             
         </div>
     </div>
 </section>

 
 <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
